<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome to Yu Liu's Homepage | 刘昱</title>

  <!-- styles -->
  <link href='https://fonts.googleapis.com/css?family=Arbutus+Slab:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
  {% style """/css/pico.css" %}
</head>

<body>
  <!-- navbar -->
  <nav>
    <div class="container">
      <ul>
        <li>
          <strong>刘昱 • Yu Liu</strong>
        </li>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/papers">Papers</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </section>

  <!-- scripts -->
  <script type="text/javascript">
    (function () {
      var burger = document.querySelector('.burger');
      var nav = document.querySelector('#' + burger.dataset.target);
      burger.addEventListener('click', function () {
        burger.classList.toggle('is-active');
        nav.classList.toggle('is-active');
      });
    })();
  </script>


  {% block page-scripts %}
  {% endblock %}
</body>

</html>